<div class="page-width">
  {% render 'team' %}
</div>


{% schema %}
  {
    "name": "Teams",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      
    ],
    "presets": [
      {
        "name": "team"
      }
    ]
  }
{% endschema %}