.button[href], 
.button-secondary[href], 
button.shopify-payment-button__button--unbranded[href]{
    min-width: 160px;
}
.menu-list__list-item {
    margin-right: 15px;
}
.header[data-sticky-state=active] {
    box-shadow: 0 0 20px 8px #00000012 !important;
}
.cart__ctas .add-to-cart-button.button-secondary {
    text-transform: var(--button-text-case-secondary);
    border-radius: 40px;
    width: 100%;
}
.mega-menu__link--parent{
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase !important;
}
.mega-menu__link--parent:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background: rgb(from var(--color-foreground) r g b /    0.3);
}

.custom_badge {
    position: absolute;
    width: 150px;
    right: -50px;
    top: 10px;
    background: red;
    padding: 7px 50px;
    line-height: 1;
    transform: rotate(45deg);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}